@import url("/assets/css/common.css");
.container-content, .container-header{
    padding-inline: var(--size-40);
}

.header nav {
    padding-block: var(--size-40);
}

.header {
    min-height: unset;
    margin-block: unset;
}

.brand-name {
    position: fixed;
}

.container-content .main-resume {
    width: 60dvw;
    margin: 0 auto;
}

.projects .section-title {
    margin-bottom: max(var(--size-80));
}

.projects .paragraph--sm {
    margin-block: max(var(--size-5)) 0;
}

.projects .tools {
    margin-block: var(--size-10) var(--size-30);
}

.projects .tools .flex {
    flex-wrap: wrap;
}

.projects .btn-wrapper {
    margin-top: max(var(--size-40));
}

.projects  .project-lists {
    height: unset;
    overflow: unset;
    overflow-y: unset;
    padding-block: unset;
}

.projects .section-number {
}

