@import url("/assets/css/common.css");
.container-content, .container-header{
    padding-inline: var(--size-40);
}

.header nav {
    padding-block: var(--size-40);
}

.header {
    min-height: unset;
    margin-block: unset;
}

.brand-name {
    position: fixed;
}

.container-content .main-resume {
    width: 60dvw;
    margin: 0 auto;
}

.main-resume .section-title {
    margin-bottom: max(var(--size-80));
}

.resume .paragraph--sm {
    margin-block: max(var(--size-5)) 0;
}

.resume .tools {
    margin-block: var(--size-10) var(--size-30);
}

.resume .tools .flex {
    flex-wrap: wrap;
}

.resume-page .btn-wrapper {
    margin-top: max(var(--size-40));
}